* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: rgb(247, 215, 215);
}

header {
    margin: 10px 0px 0px 0px;
}

.logo {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 24PX;
    color: rgb(182, 179, 182);
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.d6 {
    background: #5a5658;
    padding: 30px 0
}

.d6 form {
    height: 42px;
}

.d6 input {
    height: 100%;
    width: 260px;
    margin-left: auto;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 0px;
    outline: none;
    background: rgb(77, 13, 37);
    transition: .4s;
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    color: rgb(182, 179, 182);
}

.d6 input:focus {
    width: 258px;
    z-index: 1;
    border: 2px solid #F9F0DA;
}

.d6 button {
    background: #683B4D;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
}

.d6 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.tabs {
    background-color: rgb(77, 13, 37);
    height: 20px;
    box-sizing: border-box;
    font-size: 0;
    padding-left: 30px;
}

.tabs button {
    height: 20px;
    width: 70px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.tabs button:focus {
    border: 1px solid black;
}


/* .today {
    display: none;
} */

.mt20 {
    margin-top: 20px;
}

.colorGr {
    background: #f0ebec;
    padding: 10px;
}

.weatherContainer {
    background: #5a5658;
    height: 500px;
    padding: 20px 30px 0 30px;
}

.weatherContainer span {
    color: rgb(17, 85, 148);
}

.carrent {
    height: 100px;
    display: flex;
    flex-basis: 30%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.dateWeather {
    text-align: end;
}

.hourly {
    height: 100px;
}

.d-flex {
    display: flex;
}

.weatherLink {
    width: max-content;
    height: 80px;
}

.weatherLink img {
    width: 50px;
    height: 50px;
    background-color: rgb(77, 73, 73);
}

.hourly {
    height: 200px;
    display: flex;
    overflow: scroll;
    background-color: rgb(202, 191, 191);
}

.hourly div {
    width: 150px;
}

.d-none {
    display: none;
}

.daysOffive {
    height: 200px;
    display: flex;
    overflow: scroll;
    background-color: rgb(202, 191, 191);
}

.daysOffive div {
    width: 150px;
}